.register-form{
    
    h1{
        margin : 1em auto;
    }
    form{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .login-link{
        width : 300px;
        
        
        p{
            color: $bg_dark_color;
        }
    }
}