// fonts

$heading_font_1 : 'Bangers', cursive;
$heading_font_2 : 'Montserrat Subrayada', sans-serif;
$para_font : 'Yanone Kaffeesatz', sans-serif;
$cursive_font : 'Pacifico', cursive;



// colors
$bg_dark_color : #101D42;
$bg_light_color : #232ED1;
$bg_danger_color : #D72638;
$bg_yellow_color : #EEE82C;
$bg_green_color : #23CE6B